table.fold-table > tbody > tr.names {
  border-bottom: 0.5pt solid #ccc;
}

table.fold-table > tbody > tr.names td {
  font-size: 12px;
  font-weight: 500;
  color: rgba(54, 72, 92, 1);
  margin: 0;
}

table.fold-table > thead > tr.names td {
  font-size: 12px;
  font-weight: 500;
  color: rgba(54, 72, 92, 1);
  margin: 0;
  background-color: #005baa0d;
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-bottom {
  border-bottom: 1px solid #e3dddd;
}

.fold > table > tr > td {
  padding-top: 7px;
  padding-bottom: 7px;
}
